.header {
    .header__menu {
        display: none;
    }
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 3;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header__tel {
            text-decoration: none;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            color: #FFFFFF;
        }
        #header__button-call {
            display: none;
            border: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 16px 30px;
            background: #FF4C00;
            &:hover {
                cursor: pointer;
            }
        }
        .header__burger-nav {
            display: flex;
            align-items: flex-start;
        }
        .header__burger-menu {
            transition: 1s all;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            left: 0;
            top: 60px;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            transform: translateY(-150%);
            .header__burger-nav-list {
                margin-block: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                >li {
                    font-size: 25px;
                    margin-top: 45px;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
    #check-button {
        &:hover {
            cursor: pointer;
        }
    }
    #check-menu {
        display: none;
        &:checked ~ .header__burger-menu {
            opacity: 1;
            visibility: visible;
            background: #1D2228;
            transform: translateY(0%);
        }
        &:checked ~ #check-button {
            .first-line, .fourth-line {
                opacity: 0;
            }
            .second-line {
                transform: rotate(45deg);
            }
            .third-line {
                display: block;
                transform: rotate(-45deg);
            }
        }
    }
    .header__burger-line {
        z-index: 3;
        background: #fff;
        width: 30px;
        height: 1.5px;
        transition: .2s all;
        &.first-line {
            margin-bottom: 8px;
        }
        &.third-line {
            margin-bottom: 9px;
        }
    }
}