.question {
    padding: 60px 0 100px 0;
    .wrapper {
        .question__title {
            line-height: 46px;
            text-transform: uppercase;
            @include adaptive-font (48, 36);
        }
        .question__accordion {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* border-bottom: 1px solid #999999; */
            .question__accordion-num {
                font-weight: bold;
                color: #FF4C00;
                line-height: 31px;
                @include adaptive-font (40, 24);
            }
            .question__accordion-title {
                padding-left: 20px;
                line-height: 26px;
                @include adaptive-font (36, 20);
            }
            .question__accordion-figure {
                margin-block: 0;
                color: #FF4C00;
                transform: scaleX(1.8);
                font-size: 37px;
                transition: .5s all ease;
            }
        }
        .question__content {
            transition: .5s all ease;
            max-height: 0;
            overflow: hidden;
            padding: 0 55px 0px 44px;
            line-height: 20px;
            @include adaptive-font (20, 16);
        }
        .question__border {
            margin-top: 30px;
            height: 2px;
            background: #999999;
        }
    }
}