.scheme {
    background: #1D2228;
    padding: 100px 0 80px 0;
    .scheme__title {
        color: #FFFFFF;
        line-height: 46px;
        @include adaptive-font(48, 36);
        text-transform: uppercase;
    }
    .wrapper {
        .scheme__body {
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr;
            .scheme__block {
                &:last-child {
                    .scheme__block-num {
                        background: url(../files/img/small-arrow.svg) no-repeat 30%;
                    }
                }
                .scheme__block-num {
                    color: #8597AB;
                    font-size: 24px;
                    line-height: 31px;
                    background: url(../files/img/big-arrow.svg) no-repeat right;
                }
                .scheme__block-title {
                    color: #fff;
                    font-weight: 500;
                    line-height: 26px;
                    font-size: 20px;
    
                }
                .scheme__block-text {
                    font-size: 16px;
                    line-height: 20px;
                    color: #8597AB;
                }
            }
        }
    }
}