html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto Slab', serif;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
	display: block;
}
	
body {
	line-height: 1.2;
    overflow-x: hidden;
    overflow-y: hidden;
}
ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}/*Конец ресета*/
.loader{
    display: flex;
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;

}
.loader__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 5em;
    text-align: center;
    width: 500px;
    height: 500px;
    /*Анимации*/
}
#loader__text{
    display: inline;
    margin-right: 3px;
    animation: load 3s ease forwards;
    opacity: 0;
}
.loader__points{
    display: flex;
    margin-left: 3px;
    margin-top: 35px;
}
.loader__item{
    border: rgb(0, 0, 0) 3px solid;
    background: none;
    border-radius: 50%;
    padding: 9px;
    margin-left: 8px;
    opacity: 0;
    animation: load-points 3s linear infinite;
}
.loader__item:nth-child(1){
    animation-delay: 2s;
}
.loader__item:nth-child(2){
    animation-delay: 3s;
}
.loader__item:nth-child(3){
    animation-delay: 4s;
}
@keyframes load{
    from{
    }to{
        opacity: 1;
    }
}
@keyframes load-points{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
    
}
@keyframes load-points-background{
    from{

    }to{
        background: #000;
    }
}
.loader__item-background{
    position:relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
}
.loader__square1{
    background: none;
    z-index: 2;
    width: 300px;
    height: 300px;
    position: absolute;
    border: #000 3px solid;
    animation: square1 20s ease alternate infinite;
}
.loader__square2{
    background: none;
    z-index: 2;
    width: 200px;
    height: 200px;
    position: absolute;
    border: #000 3px solid;
    animation: square2 20s ease alternate infinite;
}
.loader__square3{
    background: none;
    z-index: 3;
    width: 180px;
    height: 180px;
    position: absolute;
    border: #000 3px solid;
    animation: square3 20s ease alternate infinite;
}
@keyframes square1 {
    from{
        padding:0;
        left: -300px;
        top: -300px;
        transform: rotate(0deg)
    }to{
        transform: rotate(1020deg);
        left: 600px;
        top: 600px;
        margin-left: 5em;
        padding: 5em;
    }
}
@keyframes square2 {
    from{
        padding:0;
        right: 300px;
        top: -300px;
        transform: rotate(0deg)
    }to{
        transform: rotate(1020deg);
        right: -500px;
        top: 400px;
        margin-right: 5em;
        padding: 5em;
    }
}
@keyframes square3 {
    from{
        padding:0;
        right: 600px;
        bottom: 800px;
        transform: rotate(0deg)
    }to{
        transform: rotate(-1020deg);
        right: 1000px;
        bottom: 100px;
        margin-right: 5em;
        padding: 5em;
    }
}